{% extends 'base.html.twig' %}

{% block title %} Blog 9000 - Articles {% endblock %}

{% block body %}

<section class="card-group">
    {% for article in articles %}
        <div class="card">
         {% set url = article.image | split('/0')  %}
        {% if url[0] == 'https://via.placeholder.com/360x360.png' %}
            <img class="card-img-top" src="{{article.image}}" alt="Card image cap">
        {% else %}
            <img class="card-img-top" src="/uploads/{{article.image}}" alt="Card image cap">
        {% endif %}
            <div class="metadata">Publié le {{ article.createdAt | date('d/m/Y') }} à {{article.createdAt | date('H:i') }} par  {{ article.getIdUser.getLogin}} </div>
            <div class="card-body">
                <h5 class="card-title">{{article.title}}</h5>
                <p class="card-text">{{article.content |raw}}</p>
                 <a href="{{path('article',{'id': article.id})}}" class="btn btn-primary">Lire la suite</a>
            </div>
        </div>
        {% endfor %}
</section>
<div>
{% do articles.setPageRange(2) %}
    {{ knp_pagination_render(articles, 'base/pagination.html.twig') }}

{% endblock %}