{% extends 'base.html.twig' %}

{% block title %} Blog 9000 - Articles {% endblock %}

{% block body %}

<section class="card-group">
    {% for article in articles %}
        <div class="card">
         {% set url = article.image | split('/0')  %}
        {% if url[0] == 'https://via.placeholder.com/360x360.png' %}
            <img class="card-img-top" src="{{article.image}}" alt="Card image cap">
        {% else %}
            <img class="card-img-top" src="/uploads/{{article.image}}" alt="Card image cap">
        {% endif %}
            <div class="metadata">Publié le {{ article.createdAt | date('d/m/Y') }} à {{article.createdAt | date('H:i') }} par  {{ article.getIdUser.getLogin}} </div>
            <div class="card-body">
                <h5 class="card-title">{{article.title}}</h5>
                <p class="card-text text-truncate" >{{article.content |raw}}</p>
                 <a href="{{path('article',{'id': article.id})}}" class="btn btn-primary">Lire la suite</a>

                    {% set nbrLike = 0 %}
                    {% set isLiked = 0 %}
                {% if (app.user) %}
                    {% for like in likes %}
                    {% if (like.getIdArticle().id == article.id  and like.isLiked) %}
                        {% set nbrLike = nbrLike + 1 %}

                            {% if (like.getIdUser().id == app.user.id ) %}
                                {% set isLiked = like.isLiked %}

                            {% endif %}
                        {% endif %}
                    {% endfor %}
                 <a href="{{path('article.isLike',{'id_article': article.id, 'id_user': app.user.id} )}}" class="link-like">
                    <i class="{{ isLiked ? 'fa-solid' : 'fa-regular' }}  fa-thumbs-up"></i>
                    <span class="badge bg-light"> {{ nbrLike > 1 ? "#{nbrLike} Likes": "#{nbrLike} Like"}}</span>
                </a>
                    {% else %}

                        {% for like in likes %}
                            {% if (like.getIdArticle().id == article.id  and like.isLiked) %}
                                {% set nbrLike = nbrLike + 1 %}
                            {% endif %}
                        {% endfor %}
                    <a href="{{path('signup')}}">
                    <span class="badge bg-light"> {{ nbrLike > 1 ? "#{nbrLike} Likes": "#{nbrLike} Like"}}</span>
                    </a>

                    {% endif %}

            </div>
        </div>
        {% endfor %}
</section>
<div>
{% do articles.setPageRange(2) %}
    {{ knp_pagination_render(articles, 'base/pagination.html.twig') }}
</div>
{% endblock %}