{% extends 'base.html.twig' %}

{% block title %}Blog9000 - Modification du profil {% endblock %}


{% block body %}
<div class="container account">
    <h1 class="mt-4"> Profil {{ app.user.login}}</h1>
{{ form_start(userForm) }}
{{ form(userForm) }}
{{ form_end(userForm) }}
</div>
<hr class='bg-warning'>
<hr class='bg-success'>
<section class="ownArticlesSection">
    <h2 class="mt-4">Mes articles</h2>
    <div class="row">
        {% for article in articles %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="/uploads/{{ article.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.content }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{{ path('article', {'id': article.id}) }}" class="btn btn-sm btn-outline-secondary">Voir</a>
                            <a href="{{ path('article.state', {'id': article.id, 'id_user' : app.user.id}) }}" class="btn btn-sm text-light {{article.isIsPublic ? 'bg-warning' : 'bg-success' }}">{{article.isIsPublic ? 'Cacher' : 'Publier' }}</a>
                        </div>
                        <small class="text-muted">{{ article.createdAt|date('d/m/Y') }}</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
